[submodule "app"]
	path = app
	url = https://github.com/ErlindS/movelink-app.git
	branch = main
	update = rebase
[submodule "embedded"]
	path = embedded
	url = https://github.com/ErlindS/movelink-embedded.git
	branch = main
	update = rebase
[submodule "setup/embedded"]
	path = setup/embedded
	url = https://github.com/ErlindS/movelink-embedded.git
[submodule "setup/app"]
	path = setup/app
	url = https://github.com/ErlindS/movelink-app.git
